#id-footer-content{
	position: fixed;
	bottom: 0px;
	width: 1140px;
	margin-bottom: 0px;
}

#id-content{
	margin-bottom: 100px;
}

.jumbotron{
	margin-bottom: 0px;
}

#user-data-table .btn-group-lg > .btn, .btn-lg{
	padding: 5px 8px;
	font-size: 12px;
}